---
layout: default
---


{% for post in site.posts  %}
    {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
    {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}

    {% if forloop.first %}
    <h2 class="post-list-year-header" id="{{ this_year }}-ref">{{this_year}}</h2>
    <ul class="post-list-year-content">
    {% endif %}
        <li class="post-link">
          <div class="post-link-date">
            {{ post.date | date: "%b %-d" }}
          </div>
          <a class="post-link-url" href="{{ post.url | prepend: site.baseurl }}">
            {% if post.linkpost %}
                {{ post.title }}
            {% else %}
                {{ post.title }}
            {% endif %}
            </a>
          {% if post.linkpost %}<a class="linklog" href="{{ post.title_url }}">{{ site.linkpost.marker }}</a>{% endif %}
        </li>

    {% if forloop.last %}
    </ul>
    {% else %}
        {% if this_year != next_year %}
    </ul>

    <h2 class="post-list-year-header" id="{{ next_year }}-ref">{{next_year}}</h2>

    <ul class="post-list-year-content">
        {% endif %}
    {% endif %}
{% endfor %}