/* Header
================================================== */
.site-header {
    font-family: $header-font-family;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;

    #banner {
        margin-top : $spacing-unit;

        h1 { margin-bottom: 0; }
        @include media-query($on-mobile) {
            h1 { text-align: center; }
        }

        .site-title {
            &:hover { text-decoration: none; }
        }
    }
}

/* Content
================================================== */

.page-content-wrapper {
    float: left;
    margin: $spacing-micro-unit 0;
    width: 100%;
    min-width: $page-content-width;
}

.site-nav {

    width: 100%;
    text-align: center;
    margin-bottom: $spacing-unit;

    ul  {
        margin: 0 auto;

        li {
            display: inline;
            text-align: center;
            // float: left;
            &:not(:first-child) {
                margin-left: $spacing-unit;
            }
        }
    }
}

.page-content-wrapper {

    @include media-query($on-mobile) {
        min-width: $smallest-mobile-width;
    }

    table.post-list {
        float: left;
        margin: 0;
        list-style: none;

        @include media-query($on-mobile) {
            width: 100%;
        }

        > li {
            clear: both;
        }
    }
}

/* Post metadata section
========================= */

.post-meta, .post-meta-index {
    @include micro-header;
    margin-top: $spacing-micro-unit;
    padding: 2px 4px 0 0;
    font-size: 0.65em;
    text-align: right;
}

.post-link, .post-link-index {
    display: block;
    font-size: 18px;
    font-family: $font-family-base;

    .linklog {
        color: $color-contrast;
    }
}

// styles that are different between table index and independent posts

.post-meta, .post-link {
    float: left;
    width: 100%;
}

.post-meta {
    margin-top: 0;
    padding: 0;
    text-align: left;
}

@include media-query($on-tablet) {
    .post-link-index {
        font-size: 16px;
    }
}

@include media-query($on-mobile) {
    .post-meta-index {
        font-size: 0.45em;
        width: 19.6%;
    }
    .post-link-index {
        font-size: 0.65em;
    }
    .post-meta {
        text-align: center;
    }
}


/* Post content section
========================= */

.post {
    padding-top: $spacing-unit;

    .post-header {

        margin-bottom: $spacing-unit/2;
        float:left;

        .post-title {
            color: $color-link;
            letter-spacing: -1px;
            font-weight: normal;
            margin-bottom: 0;
            font-size: 26px;
            font-family: $font-family-base;

            @include media-query($on-mobile) {
                text-align: center;
                font-size: 22px;
            }
        }

    }
}

.post-content {
    clear: left;
    margin-bottom: $spacing-unit;
    font-size: 16px;
    line-height: 1.3;

    @include media-query($on-mobile) {
        font-size: 14px;
        // max-width: $smallest-mobile-width;
    }
    p {
        margin-bottom: 1.3em;
    }

    hr {
        border: 1px solid $color-divider;
        margin-bottom: 2px;
        width: 50%;
    }

    h2 {
        font-size: 20px;
        color: $color-link;
    }

    h3 {
        font-size: 16px;
        text-decoration: underline;
    }
}

blockquote {
    letter-spacing: 0;
    font-weight: bold;
}


/* footnotes
================================================== */

.littlefoot-container {
    font-size: 0.9em;
}

.littlefoot-footnote-content {
    font-family: $font-family-base !important;
    a {
        font-style: italic;
        color: orange;
        font-weight: bold;
    }
}

/* Code snippets
================================================== */

.code-highlight-caption {
    font-family: $font-family-base !important;
}
.code-highlight-pre {
    font-size: 0.7em;
    line-height: 0.7em;
}

.code-highlight-figure {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    }

    @include media-query($on-mobile) {
        font-size: 14px;
        // max-width: $smallest-mobile-width;
    }
}


/* Site footer
================================================== */

.site-footer {
    border-top: 1px solid $color-divider;
    padding: $spacing-unit 0;
}

.site-footer fieldset {
    border: none;
    .search {
        width: 100%;
        text-align: center;
        color: $color-text;
        padding: 10px;
        font-size: 20px;
        font-family: $font-family-base;
        border: 1px solid $color-divider;
        background: $background-color;
    }
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-mobile) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}
