/**
 * Site header
 */
 .site-header {
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

#banner {margin-top : $spacing-unit}
.site-title {
    &:hover { text-decoration: none; }
}


.site-nav {
    @include micro-header;

    padding-top: $spacing-micro-unit + 10px;
    margin-right: $spacing-unit*2;

    ul {
        list-style: none;
        margin-left: 0;
        text-align: right;
    }

    .menu-icon {
        display: none;
    }

    .page-link {
        // color: $color-text;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
 .site-footer {
    border-top: 1px solid $color-divider;
    padding: $spacing-unit 0;
}

.site-footer fieldset {
    border: none;
    .search {
        width: 100%;
        text-align: center;
        color: $color-text;
        padding: 10px;
        font-size: 20px;
        font-family: $font-family-base;
        border: 1px solid $color-divider;
        background: $background-color;
    }
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}


/**
 * Page content
 */
/* .page-heading {
    font-size: 20px;
} */
.site-nav, .page-content-wrapper {
    float: left;
    margin: $spacing-unit 0;
}

.site-nav {
    @include micro-header;
    width: 10%;
    padding-right: 9%;
}
.page-content-wrapper {
    width: 80%;
}

.post-list {
    float: left;
    margin: 0;
    list-style: none;

    > li {
        clear: both;
    }
}

.post-meta, .post-link {
    float: left;
}

.post-meta {
    @include micro-header;
    margin-top: $spacing-micro-unit + 3px;
    font-size: 14px;
}

.post-link {
    display: block;
    font-family: $font-family-base;
    margin: 0 0 0 10px;
}


/**
 * Posts
 */
 .post-header {
    margin-bottom: $spacing-unit/2;
    float:left;
}

.post-title, .post-meta, .post-content {
    clear: left;
}

.post-title {
    // font-size: 42px;
    color: $color-link;
    letter-spacing: -1px;
    margin-bottom: 0;
    // line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;
    font-family: $font-family-alt;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
