/* Header
================================================== */
.site-header {
    font-family: $header-font-family;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;

    #banner {
        margin-top : $spacing-unit;

         @include media-query($on-palm) {
           h1 {text-align: center;}
         }

        .site-title {
            &:hover { text-decoration: none; }
        }
     }
}

/* Content
================================================== */

.site-nav, .page-content-wrapper {
    float: left;
    margin: $spacing-unit 0;
}

.site-nav {
    @include micro-header;
    width: 10%;
    padding-right: 9%;
    padding-top: $spacing-micro-unit + 10px;
    margin-right: $spacing-unit;

    ul {
        list-style: none;
        margin-left: 0;

        .nav-link {
            line-height: $base-line-height;
        }
    }

    @include media-query($on-palm) {

        width: 100%;
        margin: 0px;
        text-align: center;

        ul  {
            margin: 0 auto;

            li {
                display: inline;
                text-align: center;
                // float: left;
                &:not(:first-child) {
                    margin-left: $spacing-unit;
                }
            }
        }
    }
}


.page-content-wrapper {
    min-width: $page-content-width;

    table.post-list {
        float: left;
        margin: 0;
        list-style: none;

        @include media-query($on-palm) {
            width: 100%;
        }

        > li {
            clear: both;
        }
    }
}

/* Post metadata section
========================= */

.post-meta, .post-meta-index {
    @include micro-header;
    margin-top: $spacing-micro-unit;
    padding: 2px 4px 0 0;
    font-size: 14px;
    text-align: right;
}

.post-link, .post-link-index {
    display: block;
    font-size: 18px;
    font-family: $font-family-base;

    .linklog {
        color: $color-contrast;
    }
}

// styles that are different between table index and independent posts

.post-meta, .post-link {
    float: left;
}

@include media-query($on-palm) {
    .post-meta-index {
        font-size: 10px;
        width: 14%;
    }
    .post-link-index {
        font-size: 13px;
    }
}


/* Post content section
========================= */

.post-header {
    margin-bottom: $spacing-unit/2;
    float:left;

    .post-title {
        color: $color-link;
        letter-spacing: -1px;
        margin-bottom: 0;
        font-size: 26px;
        font-family: $font-family-base;
        // line-height: 1;

        @include media-query($on-laptop) {
            font-size: 36px;
        }
    }
}

.post-content {
    clear: left;
    margin-bottom: $spacing-unit;

    hr {
        border: 1px solid $color-divider;
        margin-bottom: 2px;
        width: 50%;
    }

    h2 {
        font-size: 20px;
        color: $color-link;

        @include media-query($on-laptop) {
            font-size: 20px;
        }
    }

    h3 {
        font-size: 16px;
        text-decoration: underline;

        @include media-query($on-laptop) {
            font-size: 16px;
        }
    }

    /* h4 {
        font-size: 16px;

        @include media-query($on-laptop) {
            font-size: 16px;
        }
    } */
}


/* Site footer
================================================== */

.site-footer {
    border-top: 1px solid $color-divider;
    padding: $spacing-unit 0;
}

.site-footer fieldset {
    border: none;
    .search {
        width: 100%;
        text-align: center;
        color: $color-text;
        padding: 10px;
        font-size: 20px;
        font-family: $font-family-base;
        border: 1px solid $color-divider;
        background: $background-color;
    }
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}
