<!DOCTYPE html>
<html>

{% include head.html %}

<body>

  {% include header.html %}

  <div class="wrapper">
    <div class="page-content">

      <nav class="site-nav">
        <ul>
          <li><a class="page-link" href="http://kaush.co">about</a></li>
          <li><a class="page-link" href="http://blog.kaush.co">blog</a></li>
          <li><a class="page-link" href="http://notes.kaush.co">notes</a></li>
          <li><a class="page-link" href="http://feeds.feedburner.com/Katablogism">rss</a></li>
        </ul>
      </nav>

      <div class="page-content-wrapper">
        {{ content }}
      </div>

    </div>
  </div>

  {% include footer.html %}

</body>

</html>
