<!DOCTYPE html>
<html>

{% include head.html %}

<body>
  {% include header.html %}

  <div class="wrapper">
    <div class="page-content">

      <nav class="site-nav">
        <ul>
          <li><a class="nav-link" href="http://kaush.co">home</a></li>
          <li><a class="nav-link" href="/about/">about</a></li>
          <li><a class="nav-link site-title" href="{{ site.baseurl }}/">blog</a></li>
          <li><a class="nav-link" href="http://feeds.feedburner.com/Katablogism">rss</a></li>
        </ul>
      </nav>

      <div class="page-content-wrapper">
        {{ content }}
      </div>

    </div>
  </div>

  {% include footer.html %}

</body>
</html>
